@font-face {
    font-family: "SF PingFang Pro Display";
    src: url("https://cdn.jsdelivr.net/gh/silvaire-qwq/SF-PingFang-Pro-Display@main/300.woff2") format("woff2");
    font-weight: 300;
}

@font-face {
    font-family: "SF PingFang Pro Display";
    src: url("https://cdn.jsdelivr.net/gh/silvaire-qwq/SF-PingFang-Pro-Display@main/400.woff2") format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: "SF PingFang Pro Display";
    src: url("https://cdn.jsdelivr.net/gh/silvaire-qwq/SF-PingFang-Pro-Display@main/500.woff2") format("woff2");
    font-weight: 500;
}

@font-face {
    font-family: "SF PingFang Pro Display";
    src: url("https://cdn.jsdelivr.net/gh/silvaire-qwq/SF-PingFang-Pro-Display@main/600.woff2") format("woff2");
    font-weight: 600;
}
